body{
    background-color: #35654d;
    text-align: center;
    justify-content: center;
}
header{
    margin-top: 15%;
}
.paradise{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
a{
    color: #000;
}
#red{
    color: #000;
    width: 45px;
    border: 2px solid red;
    background-color: red;
    text-align: center;
    padding: 10px;
    margin: 30px;
    display: inline-flex;
}
#blue{
    color: #000;
    width: 45px;
    border: 2px solid blue;
    background-color: blue;
    padding: 10px;
    margin: 30px;
    display: inline-flex;
}
#green{
    color: #000;
    width: 45px;
    border: 2px solid green;
    background-color: green;
    padding: 10px;
    margin: 30px;
    display: inline-flex;
}
