body {
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
img{
  width: 80px;
  height: 123px;
}

  .gameboard {
    width: 600px; 
    height: 600px; 
    background-color: green; 
    display: flex;
    border-radius: 25px;
    display: flex;
    
  }
  
  a:link, a:visited {
    background-color: #1abde6;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px; 
  }
  
  a:hover {
    background-color: #0f6980; 
    color: #fff; 
  }

  .win-screen-blue {
    width: 250px;
    height: 150px;
    background-color: rgb(27, 102, 37);
    text-align: center;
    border-radius: 25px;
    opacity: 0;
    animation: showWinScreen 1s ease-in-out forwards;
    animation-delay: 12s; 
    z-index: 1; 
}
    
  .win-screen-red {
    width: 300px;
    height: 150px;
    background-color: rgb(160, 54, 90);
    text-align: center;
    border-radius: 25px;
    opacity: 0;
    animation: showWinScreen 1s ease-in-out forwards;
    animation-delay: 1s; 
    z-index: 1;
}
    
.win-screen-green {
  width: 250px;
  height: 150px;
  background-color: rgb(160, 54, 90);
  text-align: center;
  border-radius: 25px;
  opacity: 0;
  animation: showWinScreen 1s ease-in-out forwards;
  animation-delay: 12s; 
  z-index: 1;
}

  