body {
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
img{
  width: 80px;
  height: 123px;
}

  .gameboard-red {
    width: 600px; 
    height: 600px; 
    background-image: url("redboard.png");
    display: flex;
    border-radius: 25px;
  }


  .gameboard-blue {
    width: 600px; 
    height: 600px; 
    background-image: url("boardblue.jpg");
    display: flex;
    border-radius: 25px;
    display: flex;
  }


  .gameboard-green {
    width: 600px; 
    height: 600px; 
    background-image: url("boardgreen.jpg");
    display: flex;
    border-radius: 25px;
    display: flex;
  }
  
  a:link, a:visited {
    background-color: #1abde6;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px; 
  }
  
  a:hover {
    background-color: #0f6980; 
    color: #fff; 
  }

  .win-screen-blue {
    width: 250px;
    height: 150px;
    background-color: rgb(27, 102, 37);
    text-align: center;
    border-radius: 25px;
    opacity: 0;
    animation: showWinScreen 1s ease-in-out forwards;
    animation-delay: 12s; 
    z-index: 1; 
    position: fixed;
}
    
  .win-screen-red {
    width: 300px;
    height: 150px;
    background-color: rgb(160, 54, 90);
    text-align: center;
    border-radius: 25px;
    opacity: 0;
    animation: showWinScreen 1s ease-in-out forwards;
    animation-delay: 12s; 
    z-index: 1;
    position: fixed;
}
    
.win-screen-green {
  width: 250px;
  height: 150px;
  background-color: rgb(160, 54, 90);
  text-align: center;
  border-radius: 25px;
  opacity: 0;
  animation: showWinScreen 1s ease-in-out forwards;
  animation-delay: 12s; 
  z-index: 1;
  position: fixed;
}

.players {
  width: 100%;
  height: 100%;
  position: relative;
}

.dealer {
  position: absolute;
  top: 23%;
  left: 55%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}

.you {
  position: absolute;
  top: 68%;
  left: 55%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}

.joe {
  position: absolute;
  top: 54%;
  left: 80%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}

.bill {
  position: absolute;
  top: 54%;
  left: 20%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}