body {
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
img{
  width: 80px;
  height: 123px;
}

  .gameboard {
    width: 600px; 
    height: 600px; 
    background-color: green; 
    display: flex;
    border-radius: 25px;
  }
  
  a:link, a:visited {
    background-color: #1abde6;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px; 
  }
  
  a:hover {
    background-color: #0f6980; 
    color: #fff; 
  }

  .win-screen-blue{
    width: 150px; 
    height: 150px; 
    background-color: rgb(201, 135, 179); 
    display: inline-block;
    text-align: center;
    border-radius: 25px;
  }
    
  .win-screen-red{
    width: 150px; 
    height: 150px; 
    background-color: rgb(160, 54, 90); 
    display: inline-block;
    text-align: center;
    border-radius: 25px;
  }
    
  .win-screen-green{
    width: 150px; 
    height: 150px; 
    background-color: rgb(96, 185, 103); 
    display: inline-block;
    text-align: center;
    border-radius: 25px;
  }
    

  